<ngx-ui-loader></ngx-ui-loader>
<div id="home" class="page-layout simple right-sidebar inner-scroll">
  <div class="header" fxLayout="column" fxLayoutAlign="space-between start">
  </div>
  <div class="page-wrapper">
    <div fxLayout="row">
      <div fxFlex="2%" style="height: 100vh !important;" *ngIf="showMenu === false">
        <mat-card class="w-100-p" fxFlexFill fxLayoutAlign="center center">
          <div class="button-menu" (click)="showMenu = true">
            <br>
           <mat-icon style="color: white !important">arrow_forward_ios</mat-icon>
            <br>
            <br>
          </div>
        </mat-card>
      </div>
      <div fxFlex="98%" style="height: 100vh !important;" *ngIf="showMenu === true">
        <div fxLayout="row">
            <div fxFlex="100%">
              <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100-p">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="dpi">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> DPI </th>
                  <td mat-cell *matCellDef="let element"> {{element.dpi}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          <div fxFlex="2%" style="height: 100vh !important;">
            <mat-card class="w-100-p" fxFlexFill fxLayoutAlign="center center">
              <div class="button-menu" (click)="showMenu = false">
                <br>
                <mat-icon style="color: white !important">arrow_back_ios</mat-icon>
                <br>
                <br>
              </div>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
