<ngx-ui-loader></ngx-ui-loader>
<html>
<head>

</head>
<body>
<div fxLayout="column" fxFlexFill>
  <div fxFlex="1" fxFlex.xs="1">
    <button mat-button (click)="changeLang('es')">
      <img src="assets/img/esp.png">
      ES
    </button>
    <button mat-button class="ml-5" (click)="changeLang('en')">
      <img src="assets/img/eng.png">
      EN
    </button>
  </div>
  <div fxFlex="89" fxFlex.xs="79">
    <div fxLayout="row wrap" class="mt-5" fxLayoutAlign="center center" fxLayoutGap="16px grid" fxFlexFill>
      <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div fxFlex fxLayoutAlign="center" fxLayoutAlign.xs="center center">
          <img class="beco-img" src="assets/img/logo.jpg">
        </div>
      </div>
      <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div fxLayout="column">
          <form name="loginForm" [formGroup]="loginForm" novalidate>
            <h1 class="beco-color"><strong>{{ 'LOGIN.LOGIN'|translate }}</strong></h1>
            <mat-form-field appearance="outline" ngClass.lt-md="w-100-p" ngClass.gt-sm="w-74-p">
              <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
              <input matInput formControlName="email"/>
              <mat-icon matSuffix class="secondary-text">mail</mat-icon>
              <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                {{ 'LOGIN.EMAIL_REQUIRED' | translate }}
              </mat-error>
              <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
                {{ 'LOGIN.EMAIL_BAD_FORMAT' | translate }}
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" ngClass.lt-md="w-100-p" ngClass.gt-sm="w-74-p">
              <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
              <input type="password" matInput formControlName="password"/>
              <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
              <mat-error>
                {{ 'LOGIN.PASSWORD_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
            <br>
            <div class="actions mt-16" fxLayout="row" fxLayoutAlign="start center">
              <button
                mat-raised-button
                color="primary"
                aria-label="Follow"
                ngClass.lt-md="w-100-p"
                ngClass.gt-sm="w-74-p"
                [disabled]="!loginForm.valid"
                (click)='login();'>
                {{ 'LOGIN.LOGIN' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
